table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

#filter-header {
    display: flex;
}

.keys {
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
}

.keys:first-child {
    width: 20px;
}

#data-wrap {
    display: flex;
    flex-wrap: wrap;
}

.value {
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
}

.value:first-child {
    width: 20px;
}

.row {
    display: flex;
}